html {
       background-color: black;
}

h1 {
       color: lightgreen;
       font-size: 50px;
}

.text {
       color: white; 
       text-align: center;
       font-size: 35px;
}

.h1background {
       width: 9999999;
       height: 70;
       padding: 10px;
       background-color: green;
}
