html {
       background-color: black;
}

@font-face {
    font-family: 'pixeledregular';
    src: url('pixeled-webfont.woff2') format('woff2'),
         url('pixeled-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shelter_coderegular';
    src: url('shelter_code-webfont.woff2') format('woff2'),
         url('shelter_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.text1 {
       color: white; 
       text-align: center;
       font-size: 35px;
       font-family: "shelter_coderegular", Arial, sans-serif;
}

.header1 {
       width: 9999999;
       height: 70;
       padding: 10px;
       background-color: lime;
       color: black;
       font-size: 50px;
       text-align: center;
       font-family: "pixeledregular", Arial, sans-serif;
}
