html {
       background-color: black;
}

@font-face {
font-family: "Harabara Bold";
src: url("css/fonts/Harabara.eot");
src: 
url("css/fonts/Harabara.woff") format("woff"),
url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");
}

.text1 {
       color: white; 
       text-align: center;
       font-size: 35px;
       font-family: "Comic Sans MS", cursive, sans-serif;
}

.header1 {
       width: 9999999;
       height: 70;
       padding: 10px;
       background-color: lime;
       color: black;
       font-size: 50px;
       text-align: center;
       font-family: "Comic Sans MS", cursive, sans-serif;
}
